* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}

.container {
    width: 90%;
    max-width: 500px;
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #22c55e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 15px;
}

li {
    background: #334155;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.progress {
    margin-top: 10px;
}

.bar {
    width: 100%;
    height: 10px;
    background: #0f172a;
    border-radius: 10px;
    margin-top: 5px;
}

#progressBar {
    height: 10px;
    width: 0%;
    background: #3b82f6;
    border-radius: 10px;
}
li button {
    margin-left: 5px;
    padding: 5px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

li button:first-of-type {
    background: #22c55e;
    color: white;
}

li button:last-of-type {
    background: #ef4444;
    color: white;
}